h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primery-white-color: #FFFFFF;
  --accent-color: #2196F3;
  --primery-color: #2F303A;
  --light-grey: #F5F4FA;
  --text-black: #000000;
}

.form__check, .backdrop__modal--close, .join__svg, .join__list, .client__svg, .client__list, .link__hover, .header {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 21px;
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 21px;
  }
}

.header {
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header {
    justify-content: center;
  }
}

.header__navigation {
  display: flex;
}

.header__menu {
  display: flex;
  margin-left: 80px;
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__menu li:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: inline-block;
  margin-left: 96px;
}
@media screen and (max-width: 767px) {
  .header__link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    display: flex;
    align-items: center;
    margin-left: 315px;
  }
}

.header__nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 38px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav:hover, .header__nav:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contact {
  display: flex;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__contact {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header__contact {
    display: none;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.active::after {
  content: "";
  opacity: active;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.email {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .email {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--text-black);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
}

.accent {
  color: var(--accent-color);
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primery-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tel-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-2x.jpg);
  }
}

.hero__title {
  color: var(--primery-white-color);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 6px;
  padding: 10px 24px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}

.features {
  padding-top: 30px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__card {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .features__card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    width: calc((100% - 120px) / 4);
  }
}

.features__icon {
  width: 100%;
  height: auto;
  background-color: var(--light-grey);
  justify-content: center;
  border-radius: 4px;
  display: flex;
}

.features__svg {
  margin-top: 25px;
  margin-bottom: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  color: var(--primery-text-color);
}

.description {
  background-color: var(--primery-white-color);
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .description {
    display: none;
  }
}

.description__title {
  margin-bottom: 50px;
}

.description__card {
  display: flex;
}

.description__card {
  display: flex;
}

.description__image {
  width: 370px;
  position: relative;
}
.description__image:not(:last-child) {
  margin-right: 30px;
}

.description__text {
  position: absolute;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  padding-top: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-grey);
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title--first {
  margin-bottom: 30px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .team__title--first {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__card {
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .portfolio__card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0px;
  }
}

.portfolio__card picture {
  width: 100%;
}

.portfolio__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 10px;
}

.team__text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.link {
  display: flex;
  justify-content: center;
}

.link__soc {
  display: flex;
  height: 44px;
  width: 44px;
}
.link__soc:not(:last-child) {
  margin-right: 10px;
}

.link__hover {
  justify-content: center;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__hover:hover, .link__hover:focus {
  background-color: var(--accent-color);
  fill: var(--primery-white-color);
}

.client {
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.client__list {
  flex-wrap: wrap;
}

.client__icon {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__icon {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__icon {
    width: calc((100% - 180px) / 6);
    margin-bottom: 0px;
  }
}

.client__svg {
  width: 100%;
  height: 100%;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__svg:hover, .client__svg:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer .container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background-color: var(--primery-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .base {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
    margin-left: 0px;
    margin-right: 70px;
  }
}

.footer__title {
  display: inline-block;
}

.white {
  color: var(--primery-white-color);
}

.address {
  margin-top: 20px;
  min-width: 231px;
}

.address li:not(:last-child) {
  padding-bottom: 8px;
}

.address__nav {
  color: var(--primery-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__nav:hover,
.address__nav :focus {
  color: var(--accent-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__linkk:focus {
  color: var(--accent-color);
}

.join {
  margin-top: 60px;
  margin-bottom: 20px;
}

.join__title {
  margin-bottom: 20px;
  color: var(--primery-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.join__list {
  justify-content: center;
}

.join__icon {
  height: 44px;
  width: 44px;
}
.join__icon:not(:last-child) {
  margin-right: 10px;
}

.join__svg {
  border-radius: 50px;
  justify-content: center;
  fill: currentColor;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primery-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__svg:hover, .join__svg:focus {
  background-color: var(--accent-color);
}

.subscribe {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 90px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    display: flex;
  }
}

.subscribe input {
  margin-bottom: 20px;
  color: var(--primery-white-color);
  width: calc(100% - 30px);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  background-color: var(--primery-color);
}
@media screen and (min-width: 768px) {
  .subscribe input {
    margin-left: 150px;
    margin-right: 150px;
    width: calc(100% - 300px);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe input {
    margin-left: 0px;
    margin-right: 10px;
    min-width: 368px;
  }
}

.subscribe button {
  position: relative;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  display: flex;
  padding: 10px 10px 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 28px;
  border: none;
}

.subscribe__icon {
  position: absolute;
  top: 12px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop__modal {
  position: absolute;
  background-color: var(--primery-white-color);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop__modal {
    width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    min-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop__modal--close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop__icon {
  width: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__icon:hover {
  fill: var(--accent-color);
}

.backdrop__title {
  margin: 40px 12px 40px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.form {
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (min-width: 1200px) {
  .form {
    min-width: 448px;
  }
}

.form__group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__group label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 14px;
  padding-left: 42px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
}
.form__input:focus ~ svg {
  fill: var(--accent-color);
}

.form__svg {
  position: absolute;
  top: 55%;
  left: 15px;
  display: inline-block;
}

.form__group textarea {
  padding: 12px 16px;
}

.form__comment {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__check {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

.form__agree {
  color: var(--accent-color);
}

.form__checkbox--svg {
  position: absolute;
  border: 1.8px solid var(--text-black);
  border-radius: 2px;
  fill: var(--primery-white-color);
  background-color: var(--primery-white-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox--svg:checked ~ .form__checkbox--svg, .form__checkbox:focus ~ .form__checkbox--svg {
  background-color: var(--accent-color);
  border: 1.8px solid var(--accent-color);
  background-origin: border-box;
}

.form__check label {
  margin-left: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .form__check label {
    font-size: 14px;
  }
}

.form__button {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  margin-bottom: 40px;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero__portfolio {
  border-top: 1px solid #ECECEC;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .hero__portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button li {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button {
  min-width: 73px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .button {
    min-width: 350px;
    justify-content: left;
    flex-wrap: wrap;
  }
}

.button__portfolio {
  color: var(--title-text-color);
  background-color: var(--light-grey);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__portfolio:hover, .button__portfolio:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .button__portfolio {
    border: none;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card li {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card li:hover, .card li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card li:hover .overlay__text {
  transform: translateY(0);
}
.card li:hover .card__transform {
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .card li {
    width: calc(100% - 30px);
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .card li {
    width: calc((100% - 120px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card li {
    width: 370px;
    margin-right: 30px;
  }
  .card li:nth-child(3n) {
    margin-right: 0;
  }
  .card li:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay img {
  width: 100%;
}

.card__transform {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__hero {
  padding: 20px 24px;
}
.card__hero:hover .card__transform {
  transform: translateY(0);
}

.card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.menu-open {
  margin-left: auto;
  border: none;
  background-color: var(--primery-white-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--primery-white-color);
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 10px 15px 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu .container {
  width: 100%;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close {
  display: block;
  margin-left: auto;
  border: none;
  background-color: var(--primery-white-color);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mobile-header-menu li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-header-nav {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.curent {
  color: var(--accent-color);
}

.mobile-header-link li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contact-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.mobile-soc-list {
  display: flex;
  margin-top: 64px;
}

.mobile-soc-list li:not(:first-child) {
  padding-left: 10px;
}
.mobile-soc-list li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-soc {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */