.features {
    padding-top: 30px;
    padding-bottom: 60px;

    @include desctop {
    padding-top: 94px;
    padding-bottom: 94px;
    }  
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    
}

.features__card{
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 30px;
@include tablet {
   width: calc((100% - 4 * 15px) / 2);

    }
@include desctop {
   width: calc((100% - 8 * 15px) / 4);
}
}

.features__icon {
    width: 100%;
    height: auto;
    background-color: var(--light-grey);
    justify-content: center;
    border-radius: 4px;
    display: flex;
}

.features__svg {
    margin-top: 25px;
    margin-bottom: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.features__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    @include tablet {
        text-align: left;
    }
}

.features__text {
    color: var(--primery-text-color);
}