.hero {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header_tel.jpg);
    @include retina {
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/header_tel-2x.jpg);
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--primery-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    
    @include tablet {
        max-width: 768px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/header_tablet.jpg);
    @include retina {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
           url(../images/header_tablet-2x.jpg);
        }
    }
    @include desctop {
        max-width: 1600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/fon.jpg);
    @include retina {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/fon-2x.jpg);
        }
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {  
   color: var(--primery-white-color);
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include desctop{
    font-size: 44px;
    max-width: 696px;
    }
}
